.btn {
	width: auto;
	min-width: 20ch;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: 0.5rem;
	opacity: 0.5;
	padding: 0;
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem;
	transition: opacity 0.2s ease;
}

.icon-container {
	aspect-ratio: 1;
	width: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.icon-container svg {
	height: 100%;
	width: auto;
}
.btn.checked {
	opacity: 0.75;
}

@media (hover: hover) {
	.btn:hover {
		opacity: 1;
	}
}
